.tien_luong {
  width: 500px;
  height: 300px;
  border: 2px solid green;
  text-align: center;
}

.tien_luong button {
  margin: 20px 140px;
}
.bt_2 {
  width: 500px;
  height: 500px;
  border: 2px solid blue;
  margin-top: 50px;
  text-align: center;
}
.ket_qua {
  display: flex;
  margin-left: 30px;
}
.doi_tien {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  margin-top: 50px;
  text-align: center;
}
.bt_4 {
  width: 700px;
  height: 400px;
  border: 2px solid violet;
  margin-top: 50px;
  text-align: center;
}
.button_bt4 {
  display: flex;
}
.bt_5 {
  width: 500px;
  height: 350px;
  border: 2px solid orangered;
  margin-top: 50px;
  text-align: center;
}
